.header__TituloPrincipal--Animacion{

	animation-duration: 2s;
	animation-name: aparecer;
	animation-iteration-count: infinite;

}

@keyframes aparecer{

	0% {
		opacity: 0;
	}
	100%{
		opacity: 2;
	}
}

/*.rotacion__FotoVieira{
   
   transform: rotate(-5deg);
}*/

.seccion__FotoLucha--rotacion{

	transform: rotate(-4deg);
}
/*
.rotacion__CinturonNegro{

	transform: rotateX(40deg);
}*/

.navbar__FotoLogo--transicion {
	transition:3s;

}

.navbar__FotoLogo--transicion:hover{

 width: 300px;
 height: 150px;

}
